@import '../../style/_base.scss';
@import '../../style/_variables.scss';

.login_container { 
    height: 100vh;
    display: flex;
    justify-content: center;
}
.login-register {
    @include flex(nowrap, column);
    min-width: 340px;
    min-height: 450px;
    margin: auto;
    align-items: center;
    padding: 30px;
    border-radius: 20px; 
    background-color: $white;
    position: relative;
 }
.login-register__title {
    @include font(20px, 500, $darkBlue);
    text-align: center;
    margin-top: 20px;
 }
.login-register__block {
    margin-top: 40px;
    & input {
      box-shadow:  0 1px $yellow;
   }
 }
 form {
    @include flex(nowrap, column);
 }
.input__label {
    @include font(9px, 500, $mint);
    margin-bottom: 6px;
 }
 .input__error {
    @include font(8px, 400, $red);
    margin-bottom: 16px;
 }
.input__text {
    @include font(13px, 500, $darkBlue);
    margin-bottom: 6px;
    width: 280px;
    height: 22px;
 }
.login-register__button {
    @include font(13px, 400, $white);
    background-color: $mint;
    width: 280px;
    height: 37px;
    border-radius: 8px;
    justify-self: end;
    margin-top: auto;
    margin-bottom: 6px;
    text-align: center;
    line-height: 36px;
 }
.login-register__register-link {
    @include font(11px, 500, $darkBlue);
 }