<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>favicon prefix="../"}}
    <link rel="stylesheet" href="../index.css">
    <title>Chat list</title>
</head>
<body>
    <main class="chat_container">
        {{>back_button link="../index.hbs"}}
        {{>chat_list_part}}
    </main>    
</body>
</html>