<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>favicon prefix="../../"}}
    <link rel="stylesheet" href="../../index.css">
    <title>Изменение профиля</title>
</head>
<body>
    <div class="profile__container">
        {{!-- {{>back_button link="../profile/profile.hbs"}} --}}
            <div class="profile">
                <div class="header">
                    <a href="#" class="header__photo"></a>
                    <span class="header__name">Иван</span>
                </div>
                <form id="profile-info" class="profile-info" action="">
                    <ul>
                        <li>
                            <span>Старый пароль</span>
                            <input type="password" 
                                   name="oldPassword" 
                                   id="oldPassword"
                                   placeholder="Пароль">
                        </li>
                        <li>
                            <span>Новый пароль</span>
                            <input type="password" 
                                   name="newPassword"
                                   id="newPassword"
                                   placeholder="Пароль">
                        </li>
                        <li>
                            <span>Повторите новый пароль </span>
                            <input type="password" 
                                   name="newPassword"
                                   id="newPassword"
                                   placeholder="Пароль">
                        </li>
                    </ul>
                </form>
                <div class="footer">
                    {{!-- {{>button link="./profile.hbs" cls="footer__button" label="Сохранить"}}  --}}
                </div>
            </div>
    </div>
</body>
</html>