<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>favicon prefix="../../"}}
    <link rel="stylesheet" href="../../index.css">
    <title>Профиль</title>
</head>
<body>
    <div class="profile__container">
        {{>back_button link="../chat_list.hbs"}}
        {{>profile_part}}
    </div>
</body>
</html>