// Main colors

$dark-blue: #15123f;
$yellow: #fce469;
$mint: #73c9b7;
$green: #abd699;
$light-blue: #e4edfd;

// Second colors

$black: #000;
$grey: #999;
$light-grey: #eaeaea;
$white: #fff;
$red: #ff2f2f;

// Gradients

$green-mint-yellow: linear-gradient(217deg, $green, rgb(255 0 0 / 0%) 70.71%),
  linear-gradient(127deg, $mint, rgb(0 255 0 / 0%) 70.71%),
  linear-gradient(336deg, $yellow, rgb(0 0 255 / 0%) 70.71%);

// Mixins

@mixin font($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin border-box {
  box-sizing: border-box;
}

@mixin flex($wrap: nowrap, $direction: row) {
  -webkit-display: flex;
  display: flex;
  flex-flow: $wrap $direction;
}
